header.header
    .header__cloumn
        a(href=routes.home)
            i.fab.fa-youtube
    .header__cloumn
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log in
