@media screen and (max-width: 500px) {
    body{
        .header {
            .header__wrap{
                grid-template-columns: 0.8fr 1.2fr 2fr;
                .header__column{
                    &:nth-child(1) {
                        i{
                            span{
                                display: none;
                            }
                        }
                    }
                    &:nth-child(2) {
                        width: 100%;
                        input{
                            width: 100%;
                        }
                    }
                    &:nth-child(3){
                        ul{
                            font-size: 13px;
                            li:not(:last-child){
                                margin-right: 10px;
                            }
                            .headerImg {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        main,
        .searchPage{
            .videos,
            .search__videos {
                display: block;
                .videoBlock{
                    width: 100%;
                    margin-bottom: 10px;
                    a{
                        video {
                            background-color: black;
                            width: 250px;
                            height: 160px;
                        }
                    }
                }
            }
        }
        .videos{
            .videoBlock{
                display: flex;
                justify-content: center;
                a{
                    width:70%;
                }
            }
        }
        .videoPlayer {
            .videoPlayer__controls {
                .videoPlayer__column{
                    &:first-child{
                        span{
                            font-size: 13px
                        }
                    }
                    i{
                        font-size: 13px;
                    }
                }
            }
        }
        .video__sideBlock{
            display: none;
        }
        .form-container {
            form {
                width: 80%;
                input{
                    font-size: 12px;
                }
            }
            a{
                width: 80%;
            }
        }
        .social-login{
            .social-login__box{
                button{
                    width: 70%;
                }
            }
        }
    }
}