extends layouts/main
include mixins/videoBlock

block content
    .videos
        each item in Videos
            +videoBlock({
                id: item.id,
                title: item.title,
                view: item.view,
                videoFile: item.fileUrl
            })
            //- 나중에 제거
            +videoBlock({
                id: item.id,
                title: item.title,
                view: item.view,
                videoFile: item.fileUrl
            })