extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for #{searchingBy}
    .search__videos
        each item in Videos
            +videoBlock({
                title: item.title,
                view: item.view,
                videoFile: item.videoFile
            })