extends layouts/main

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsRecordingPreview
            button#jsRecordingBtn start recording
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            .form-container__file-upload
                label(for="file") Video File :
                input(type="file", id="file", name="uploadFile", required=true, accept="video/*, .mkv")
            input(type="text", placeholder="Title", name="title", required=true)
            textarea(name="description", placeholder="Description", required=true)
            input(type="submit", value="Upload Video")
            