extends layouts/main
include mixins/videoBlock

block content
    .searchPage
        .search__header
            span Searching for
            |   
            span.searchingBy #{searchingBy}
        .search__message
            if videos.length === 0
                h5 No Videos Found!
        .search__videos
            each item in videos
                +videoBlock({
                    title: item.title,
                    view: item.view,
                    videoFile: item.fileUrl,
                    id: item.id
                })