.form-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    form{
        text-align: center;
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: none;
        input{
            display: block;
            border-radius: 5px;
            &:not([type="file"]){
                padding: 10px 20px;
                margin-bottom: 25px;
                background-color: white;
                box-shadow: 3px 3px 5px $grey;
            }
            &::placeholder{
                font-weight: 500;
            }
        }
        .secession-label {
            font-family: monospace;
            font-weight: 700;
            font-size: 11px;
            margin-bottom: 3%;
            lala {
                color: red;
            }
        }
        input[type="submit"] {
            &.secession {
                background-color: rgb(223, 70, 50);
            }
            background-color: rgb(90, 112, 240);
            border-radius: 5px;
            color: white;
            border: none;
            margin-bottom: 15px;
            cursor: pointer;
            font-weight: 600;
        }
        input[type="submit"]:focus {
            background-color: rgb(121, 119, 119);
        }
        textarea{
            border: none;
            border-radius: 5px;
            height: fit-content;
            margin-bottom: 15px;
            box-shadow: 3px 3px 5px $grey;
            padding: 10px 20px;
        }
        .form-container__file-upload{
            margin-bottom: 12px;
            .file-upload__column{
                display: flex;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
            label {
                font-weight: 600;
                font-size: 16px;
                margin-right: 5px;
            }
        }
    }
}