.header{
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #353b48;
    height: 55px;
    box-shadow: 0 0 10px 1px rgb(68, 68, 68);
    .header__wrap{
        width: 100%;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 2fr 1fr;
        font-size: 15px;
        place-content: center center;
        align-items: center;
        .header__column{
            &:nth-child(1){
                justify-self: center;
                i{
                    color: $white;
                    font-size: 30px;
                    span {
                        vertical-align: middle;
                        font-size: 20px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
                }
            }
            &:nth-child(2){
                width: 100%;
                form{
                    display: flex;
                    justify-content: center;
                }
                input {
                    width: 70%;
                    padding: 5px 20px;
                    font-size: 500;
                    border-radius: 5px;
                    &::placeholder{
                        font-weight: 500;
                    }
                }
            }
            &:nth-child(3){
                display: flex;
                justify-content: center;
                ul{ 
                    color: $white;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    li:not(:last-child){
                        margin-right: 20px;
                    }
                    li:first-child{
                        display: flex;
                        align-items: center;
                        a{
                            margin-left: 10px;
                        }
                    }
                    .headerImg{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }
                
            }
        }
    }
}