@keyframes fadeIn {
  0%{
    transform: translateX(300px);
  }
  15%{
    transform: translateX(-20px);
  }
  50%{
    transform: translateX(-20px);
  }
  85%{
    transform: translateX(-20px);
  }
  100%{
    transform: translateX(300px);
  }
}

.flash-message__container{
    position: fixed;
    right: 20px;
    bottom: 50px;
    margin: auto;
    max-width: 350px;
    max-height: 120px;
    z-index: 9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    animation: fadeIn 5s linear forwards;
    background-color: rgb(240, 240, 240);
    border: 1.3px solid rgb(168, 168, 168);
    .flash-message__status{
      display: block;
      width: 10px;
      height:10px;
      border-radius: 50%;
      margin-bottom:6px;
      background-color: rgba(143, 143, 143, 0.699);
    }
    &.error{
      .flash-message__status{
        background-color: #e74c3c;
      }
    }
    &.success{
      .flash-message__status{
        background-color: #2ecc71;
      }
    }
    &.info{
      .flash-message__status{
        background-color: #f9ca24;
      }
    }
    .flash-message__text {
      border-top:1.2px solid rgb(211, 211, 211);
      text-transform: uppercase;
      padding: 10px;
      color: rgb(34, 34, 34);
      font-size: 18px;
    }
}