.videoPlayer__volumeRange-box{
    position: absolute;
    left: -27px;
    bottom: 39px;
    margin: auto;
    transform: rotate(0.75turn);
    width: 70px;
    height: 30px;
    background-color: black;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s linear;
    display: flex;
    align-items: center;
    padding: 10px 0;
    .video__volume-range{
        width: 90%;
        opacity: 0.8;
        cursor: pointer;
    }
}