.social-login
    .social-login__box
        button.social-login--github
            a(href=routes.github)
                span
                    i.fab.fa-github
                |&nbsp;Continue with Github
        button.social-login--kakao
            a(href=routes.kakao)
                span
                    i.fab.fa-korvue
                |&nbsp;Continue with KakaoTalk