.videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-flow: row dense;
    .videoBlock{
        a{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .videoBlock__thumbnail{
                width: 357.6px;
                margin-bottom: 10px;
            }
            .videoBlock__title{
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 10px;
            }
            .videoBlock__title,
            .videoBlock__view{
                margin-right: 15px;
            }
        }
    }
}
